{% extends "base.html" %}
{% load static %}
{% block content %}
<h3>{{ profile.username }}</h3><br><br>
{% if profile.profile_picture %}
<img src="{{ profile.profile_picture.url }}" style='width:300px;'><br><br>
{% else %}
<img src="{% static 'images/user_default.png' %}" style='width:300px;'>
{% endif %}
<p>팔로잉:{{profile.followings.count}} 팔로어:{{profile.followers.count}}</p>
<p>가입일: {{ profile.date_joined|date:'Y년 m월 d일' }}</p>
<div>
    <div>
        {% if request.user != profile %}
            <form action="{% url 'users:follower' profile.username %}" method="POST">
                {% csrf_token %}
                {% if request.user in profile.followers.all %}
                <button type="submit">언팔로우</button>
                {% else %}
                <button type="submit">팔로우</button>
                {% endif %}
            </form>
        {% endif %}
    </div>
    <div>
        {% if request.user == profile %}
            <a href="{% url 'accounts:update' request.user %}">회원정보수정</a>
            <form action="{% url 'accounts:delete' request.user %}" method='POST'>
                {% csrf_token %}
                <input type="submit" value='회원탈퇴'>
            </form>
            <form action="{% url 'accounts:change_password' request.user %}" method='POST'>
                {% csrf_token %}
                <input type="submit" value='비밀번호 변경'>
            </form>
        {% endif %}
    </div>
</div>

<h3>내가 등록한 상품</h3>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for post in my_posts %}
    <div class="col">
        <div class="card" style="width: 100%;">
            {% if post.image %}
            <a href="{% url 'products:post_detail' post.pk %}">
                <img src="{{ post.image.url }}" class="card-img">
            </a>
            {% else %}
            <a href="{% url 'products:post_detail' post.pk %}">
                <img src="{% static 'images/product_default.png' %}" class="card-img">
            </a>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'products:post_detail' post.pk %}">{{ post.title }}</a></h5>
                <p class="card-text">{{ post.content }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<h3>찜한 목록</h3>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for post in posts %}
    <div class="col">
        <div class="card" style="width: 100%;">
            {% if post.image %}
            <a href="{% url 'products:post_detail' post.pk %}">
                <img src="{{ post.image.url }}" class="card-img">
            </a>
            {% else %}
            <a href="{% url 'products:post_detail' post.pk %}">
                <img src="{% static 'images/product_default.png' %}" class="card-img">
            </a>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'products:post_detail' post.pk %}">{{ post.title }}</a></h5>
                <p class="card-text">{{ post.content }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
